# Folder view configuration files
.DS_Store
Desktop.ini
__pycache__/
*.py[cod]
.ipynb_checkpoints

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
